<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.0/hack.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hack/0.8.0/standard.css">
    <title>API Landing Page</title>
  </head>
  <body class="hack">
    <div class="container">
      <h1>reg-scheduler-back</h1>
      <p>
        this is the default landing page for reg-scheduler-back.
        <br/>
        this page contains information about API endpoints.
      </p>
      <hr/>
      <h2>API endpoints</h2>
      <ul>
        <li>
          <p>
            GET
            <code>/courselist</code>
            <br/>
            returns the result of querying the <i>reg</i> with given parameters
            <br/>
          </p>
          <h4>url parameters</h4>
          <ul>
            <table>
              <tbody>
                <tr>
                  <td>courseId</td>
                  <td>Course Id</td>
                </tr>
                <tr>
                  <td>courseName</td>
                  <td>Course Name</td>
                </tr>
              </tbody>
            </table>
          </ul>
        </li>

        <li>
          <p>
            GET 
            <code>/courseinfo</code>
            <br/>
            returns information about the course with <code>courseId</code>.
            <br/>
            result is <code>null</code> if the specified <code>courseId</code> is invalid.
            <br/>
          </p>
          <h4>url parameters</h4>
          <ul>
            <table>
              <tbody>
                <tr>
                  <td>courseId</td>
                  <td>Course Id <strong>(required)</strong></td>
                </tr>
              </tbody>
            </table>
          </ul>
        </li>
      </ul>
    </div>
  </body>
</html>
